extends layout

block content
  div.container
    div.jumbotron
      h1 荣耀6Plus
      P
        | 最高直降200    全天开放购买
    div.row
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/mate8.png" alt="mate8")
        div.center-block 
          p Mate 8
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/honor7.png" alt="honor7")
        div.center-block 
          p Honor 7
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/mate8.png" alt="mate8")
        div.center-block 
          p Mate 8
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/honor7.png" alt="honor7")
        div.center-block 
          p Honor 7
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/mate8.png" alt="mate8")
        div.center-block 
          p Mate 8
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/honor7.png" alt="honor7")
        div.center-block 
          p Honor 7
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/mate8.png" alt="mate8")
        div.center-block 
          p Mate 8
      div.col-xs-6.col-md-3
        a.thumbnail
          img(src="/images/honor7.png" alt="honor7")
        div.center-block 
          p Honor 7
      